#pantalla-barplotNota {
    @media (max-width: 768px) {
        
        #dropdownMenuButton2 {
            margin-top: -90px; 
            margin-right: -20px;
        }
        
        .row.order-last.flex-grow-1 {
            width: 100px;
        }

        .container-fluid.ml-5 {
            width: 343px;
            height: 419px;
        }
        
        .row.cantidades.mt-3.back-white {
            padding: 0px;
            width: 100%;
            gap: 24px;
            margin-top: 25px !important; 
        }

        .col-4.barra_lateral {
            padding-left: 20px;
        }

        .blue-dot-user {
            margin-top: 9px;
            min-width: 10px;
            height: 10px;
        }

        .blue-dot-impresiones {
            margin-top: 9px;
            min-width: 10px;
        }

        .info-icon{
            margin-top: 8px;
        }

        .row.cantidades .barra_lateral {
            border-right: none;
            position: relative;
            overflow: visible;
        }
        
        .leyenda_barplot {
            align-items: flex-start;
            width: 70px;
            height: 90px;
        }

        .row.cantidades .barra_lateral::after {
            content: "";
            position: absolute;
            top: 10px; 
            bottom: 30px;              
            width: 1px;             
            left: 140% !important;           
            background-color: rgb(226, 218, 218);  
        }

        .row.g-1.align-items-start {
            width: 380px;
            position: relative;
            left: 15px;
            gap: 0px;
        }

        .col-6.m-2.p-3.back-white {
            width: 380px;
        }

        .accordion-body.pt-0 {
            width: 348px;
        }

        .row.back-white {
            width: 100% !important;
        }
    }

    @media (max-width: 380px) {
        .row.cantidades .barra_lateral::after {           
            left: 146% !important;
        }
    }
}








