#pantalla-barplot {
@media (max-width: 768px) {

    #descargar-reporte::after {
        top: 0px !important;
    }


    .vn_categoria {
        position: relative;
        width: auto;
        top: 0px !important;
        justify-content: center;
    }
    
    .row.order-last.flex-grow-1 {
        margin-top: 10px;
        order: 3 !important;
    }

    .row.publicada {
        order: 4 !important;
        position: relative;
        bottom: 50px;
    }
    .row.cantidades.mt-3.back-white {
        padding: 0px;
        width: 100%;
        gap: 24px;
    }

    .col-6.d-flex.flex-column {
        max-height: 200px;
        padding-right: 0px;
    }

    .col-4.barra_lateral {
        padding-left: 20px;
    }

    .leyenda_barplot {
        align-items: flex-start;
        width: 70px;
        height: 90px;
    }

    .col-4::after {
        position: relative;
        left: 140% !important;
    }

    .totales {
        margin-top: 45px;
    }

    .blue-dot-impresiones {
        margin-top: 9px;
        min-width: 10px;
    }

    .blue-dot-user {
        margin-top: 9px;
        min-width: 10px;
        height: 10px;
    }

    .info-icon{
        margin-top: 6px;
    } 

    .row.cantidades .barra_lateral {
        border-right: none;
        position: relative;
        overflow: visible;
    }

    .row.cantidades .barra_lateral::after {
        content: "";
        position: absolute;
        top: 10px; 
        bottom: 30px;              
        width: 1px;             
        left: 145%;           
        background-color: rgb(226, 218, 218);  
    }

}

}