@media (max-width: 768px) {

    #saludo {
        position: relative;
        top: 5%;
    }

    .row.miPerfilContainer.soporteContainer.mt-4.p-0.mb-3 {
        margin: 0px !important;
        width: 100%;
    }
    .col.buscadorNotas {
        gap: 15px;
        margin: 0px 15px;
    }

    .mb-2.btn.btn-primary {
        width: 35% !important;
    }

    .row.miPerfilContainer.soporteContainer.mt-4.p-0 {
        margin: 0px !important;
        width: 100% !important;
    }
    .col-2 {
        width: 100% !important;
        padding: 0px;
    }
    .col-3 {
        width: 100% !important;
        padding: 0px;
    }

    .user-name-text {
        justify-content: start;
        width: 103%;
    }

    .cuenta-text {
        justify-content: start;
        width: 104% !important;
        display: flex;
    }

    .col-10.text-end {
        width: 100%;
        padding: 0px;
    }

}