#abm-sitios-relevantes {

    .buscadorNotasForm {
        width: 20% !important;
    }

    .accordion-button::after {
        margin-left: 0px !important;
    }

    a {
        font-size: 16px !important;
    }

    .bi-plus-circle {
        color: rgb(34, 85, 194);
    }

    .bi-trash3-fill {
        color: rgb(194, 33, 33);
    }

    .bi-pencil-square {
        color: rgba(22, 22, 22, 0.767);
    }

    .boton-funcion {
        border: none !important;
    }

    
}






