@media (max-width: 768px) {
    
    .img-fluid.d-block.d-md-none {
        background-color: white;
        padding-top: 9px;
        padding-left: 9px;
        width: 25px;
        height: 25px;
    }

    .logo-sidebar-mobile {
        background-color: white;
        width: 35px;
        height: 35px;
        border-radius: 20%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
        z-index: 1050 !important;
    }

    .logo-nd-mobile {
        background-color: white;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 45px;
        z-index: 999 !important;
        padding-bottom: 15px;
    }

    .logo-nd {
        padding: 0px !important;
        width: 30% !important;
        height: 25px !important;
        justify-content: center;
        position: fixed;
        right: 30%;
        top: 15px;
    }

    .sidebar.no-print.closed {
        width: 0px;

        .list-group.list-group-flush.no-border.list-unstyled {
            display: none;
        }

        .sidebar-toggle.btn.btn-none {
            top: -20px;
            left: -5px;
        }

        .sidebar-toggle.btn.btn-none.img-fluid {
            top: 0px;
        }

    }

    .sidebar.no-print.open {
        width: 100%;
        box-shadow: none;
        
        .flex-grow-1 {
            height: 100%;
        }
        
        .sidebar-toggle.btn.btn-none {
            left: 83%;
            margin-top: -5%;
            
        }

        #logo-nd-sidebar {
            left: 26%;
            top: 3.5%;
            margin-top: 5px !important;
        }

        .descripcion_boton {
            margin-top: 15px !important;   
        }

        .list-group.list-group-flush.no-border.list-unstyled {
            margin-top: 17%;
            gap: 5px;
        }

        .openBoton {
            width: 85%;
            height: 75px !important;
            margin-bottom: 0px !important; 
        }
        
        .botones_inferiories {
            width: 85%;
            height: 75px !important;
            margin-bottom: 0px !important; 
            margin-top: 0px;
        }

        .botonSidebar.btn.btn-none {
            height: 100%;
        }

        .fs-4.mb-4.bi {
            height: 60px;
            width: 60px;
            font-size: 300% !important;
        }

        .descripcion_boton {
            font-size: 140%;
            margin-top: 6%;
            margin-left: 7px;
        }

        .sidebar {
            position: relative !important;
        }

        ul.botones_inferiories {
            position: static !important; 
        }

        ul.botones_inferiories > h3 {
            position: absolute !important;
            left: 20px !important; 
            margin: 0 !important;
            z-index: 10 !important;
            text-align: left !important;
            width: 60%;
        }

        ul.botones_inferiories > h3:nth-of-type(1) {
            top: 45px !important; 
        }

        ul.botones_inferiories > h3:nth-of-type(2) {
            top: 65px !important;
        }

        ul.botones_inferiories > h3:nth-of-type(3) {
            top: 85px !important;
        }
    }
}












