@media (max-width: 768px) {

    .content.flex-grow-1 {
        background-color: white;
    }

    .head_dash.no-print {
        width: 110%;
        margin-left: -8%;
        margin-top: 3%;
    }

    #botonCrearNota {
        top: -8px;
        right: 10px;
        height: 55px;
        padding-right: 0px;
        align-items: normal;
    }

    #subtitulo_performance {
        display: flex;
        position: relative;
        top: -35px; 
        justify-content: center;
        width: 100%;
        padding: 5px 0px 0px 0px;
    }

    .botones_subtitulo {
        float: none;
        width: 100%;
        display: flex;
        gap: 5%;
    }

    .botones_subtitulo .dropdown {
        display:  inline-flex;
        width: 100% !important;
    }

    #dropdownMenuButtonSelectorCliente {
        position: sticky;
        left: 10%;
    }

    #dropdownMenuButton2 {
        width: 120%;
        float: none;
    }

    
    .col.d-flex.align-items-center {
        margin-right: 15px;
    }
    
    .d-block {
        width: 70px;
        margin-left: -10px;
    }
    
    .row.seccionInteracciones.pt-1 {
        width: 100%;
    }
    
    .tops {
        padding-top: 17%;
    }
    
    .row.g-1 {
        width: 102%;
        margin-left: -3%;
        padding-top: 0px;
    }
    
    .col-lg-12.col-xl.col-6.m-2.back-white {
        width: 103%;
    }
    
    .col.totales_widget {
        width: 100%;
        margin-top: -14%;
        margin-left: 70%;
        font-size: 100%;
    }
    
    .container-fluid {
        width: 104%;
        margin-left: -2%;
    }
    
    .col.totales_widget.impresionesCategorias123 {
        margin-top: -45px;
    }
    
    .info-icon.no-print {
        position: relative;
        margin-right: -25px;
        margin-top: 0px;
    }
    
    .accordion-button {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    .accordion-body.pt-0 {
        width: 90%;
        margin-left: 5%;
    }

    .d-block {
        margin-left: 0px;
    }
}



