.sinPadding{
    padding: 0;
}


.no-border{
    border: none;
    margin-bottom: 10px;
}

#botonCrearNota{
    display: inline-flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: right; /* Centra el contenido horizontalmente */
    height: 40px; /* Altura del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    position: relative;
    float: right;
    top: -10px

}

.d-flex {
    display: flex;
}


.content {
    /* Permite que el contenido ocupe el espacio restante */
    flex-grow: 1;
    background-color: #fbfcfc ;
    height: auto;
     /* background-color: rgb(179, 150, 150); */
    
}

#saludo{
    margin-left: 10px;
    display: inline;
    color: #0E0E0E;
    font-size: 28px;
    font-weight: bold;
}

#nombre_municipio{
    display: inline;
    font-size: 28px;
    color: #0E0E0E;
    margin: 10px 10px;
}

#head_dash {
    border-bottom: 1px solid #e7dfdf; 
    padding: 20px;
}

#subtitulo_performance{
    margin-top: 50px;
    margin-left: 10px;
    padding: 20px;
    font-size: 24px;
    font-weight:600;
    display: inline;
    height: 20px;
    color: #292929

}

.custom-dropdown-button {
    background-color: white; /* Cambia el color de fondo */
    color: rgb(78, 70, 70); /* Cambia el color del texto */
    border-color: #ada4a1; /* Cambia el color del borde */
    display: inline;
}

.custom-dropdown-button:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo al pasar el mouse */
    color: #4e4e4e; /* Cambia el color del texto al pasar el mouse */
}

.dropdown{
    display: inline;
}
.botones_subtitulo{
    display: flex;
    float: right;
    gap: 20px;
    margin-right: 40px;
}

.subtitulo{
    margin-top: 40px;
}
.back-white{
    background-color: white;
}
.tamaño_barplot{
    height: 341px;
}

.listaClientes {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin; /* Scroll más delgado */
    scrollbar-color: #888 #f0f0f0; /* Colores del scroll y el fondo */
}
.listaClientes::-webkit-scrollbar {
    width: 6px; /* Ancho del scroll */
}
.listaClientes::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 3px; /* Bordes redondeados */
}

.dropdown-search{
    width: 470px !important;
}

@media print {
    body, html {
      width: 100%;
      height: auto;
      overflow: visible !important;
      -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      
      
    }
    * {
      overflow: visible !important;
      position: static !important;
    }
    .content .flex-grow-1{
        width: 100%;
        height: auto;
        overflow: visible !important;
    }
    .no-print {
        display: none !important;
    }
    #print-header img{
        width: 100%;
    }

    /* PARA QUE LAS COLUMNAS TENGAN */
    .row {
        display: flex !important;
        flex-wrap: nowrap !important; /* Evita que las columnas se apilen */
    }

    .g-1 .col {
        flex: 0 0 43% !important; /* Fuerza 50% de ancho */
        max-width: 43% !important;
    }

    /* Opcional: Ajusta márgenes y padding para evitar espacios no deseados */
    .col.m-2 {
        margin: 0 !important;
    }

    .col.p-3 {
        padding: 5px !important; /* Ajusta si es necesario */
    }
    canvas{
        width: 1050px !important;
    }
    .imagenWidwetInteracciones2{
        overflow: hidden !important;
        object-fit: cover !important;
    }
    .totales_widget{
        margin-right: 350px;
    }
    .impresionesWidget{
        text-align: center !important;
        margin-right: 350px;
    }
    .columnaInteraccion{
        margin-left: 10px !important;
    }
    .impresionesCategorias123{
        margin-left: 20px;
    }
    .nombreReporteEncabezado{
        margin-top: 20px !important;

    }
    .resenaReporte{
        color:#667085; 
        margin-left: 12px;
        font-size: 16px !important;
    }

}

@page {
    margin: 10px;
}

