@media (max-width: 768px) {
    
    .containerFormulario .row {
        gap: 120px;
    }

    .containerFormulario h3 {
        width: 300px;
    }

    .containerFormulario #imagen {
        display: none;
    }

    .containerFormulario #formulario {
        order: 1;
        margin-left: 5px;
    }
}








