@media (max-width: 768px) {
    
    .row {
        gap: 120px;
    }

    h3 {
        width: 300px;
    }

    #imagen {
        display: none;
    }

    #formulario {
        order: 1;
        margin-left: 5px;
    }
}








